*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body{
  
}
.main-login{
    background-color: #201b2c;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;


}
.left-login{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50vw;
    height:100vh ;
    background-color: rgb(0, 110, 255);
}
.left-login > h1 {
    color: #77ffc0;
}

.right-login{
    width: 50vh;
    height: 100vh;
    background-color: rgb(255, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.card-login{
    width: 60%;
    background-color: #2f2841;
    border-radius: 20px;
    box-shadow:  0px 10px 40px #00000056;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 35px;
}
.card-login > h1{
    color:  #c8ff00;
    /* 00ff888*/ 
    font-weight: 800;
    margin: 0;

}

.textfield{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    
}

.btn-login{
    border: none;
}