@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Roboto:wght@400;900&family=Silkscreen&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    font-family: 'Noto Sans', sans-serif;
    
}

.main-login{
    background-color: #231c33;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;


}
.left-login{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50vw;
    height: 100vh;

    
}
.left-login > h1 {
    color: #00ff88;
    font-size: 3rem;
    font-weight: 800;
    letter-spacing: 10px;

}

.right-login{
    width: 50vh;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.card-login{
    width: 90%;
    height: 50vh;
    background-color: #2f2841;
    border-radius: 20px;
    box-shadow:  0px 10px 40px #00000056;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 35px;
    gap: 20px ;
}
.card-login > h1{
    color:  #00ff88;
    /* #c8ff00*/ 
    text-transform: uppercase;
    font-weight: 800;
    margin: 0;
    padding-bottom: 20px;
    
    

}

.textfield{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 10px;
    
    
}

.btn-login{
    cursor: pointer;
    width: 90%;
    padding: 20px;
    margin: 20px;
    background-color: #00ff88;
    border-radius: 30px;
    box-shadow: 20px 10px #0efa8c;
    outline: none;


}



 .textfield > input{
    padding: 20px;
    width: 300px;
    padding-bottom: 20px;
    border-radius: 20px;
    border: none;
    box-shadow: 10px 10px 5px 5px #00000056;
    outline:none;
    background-color: #554a72;
}

div > .textfield > label{
    color: rgb(255, 255, 255);
    font-size: 1rem;
}

img{
    width: 40vw;
    height: 70vh;
}